@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
body {
    margin: 0;
    height: 100vh;
}

#world {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(#1e2022, #52616b);
}

#gameoverInstructions {
    position: absolute;
    font-family: 'Barriecito', cursive;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 120px;
    text-align: center;
    color: #ffc5a2;
    opacity: 0;
    left: 50%;
    top: 30%;
    width: 100%;
    transform: translate(-50%, -100%);
    user-select: none;
    transition: all 500ms ease-in-out;
}

#gameoverInstructions.show {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 500ms ease-in-out;
}

#dist {
    /* position: absolute; */
    /* flex-direction: row;
    align-items: center;
    justify-content: center; */
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0%);
    user-select: none;
    padding-right: 50px;
    border-right: solid 1px black;
}

.label {
    position: relative;
    font-family: 'Barriecito', cursive;
    /* text-transform: uppercase; */
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 5px;
}

#distValue {
    position: relative;
    text-transform: uppercase;
    color: red;
    font-size: 20px;
    font-family: 'Barriecito';
    text-align: center;
}

.distVal {
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    font-family: 'Barriecito';
    text-align: center;
}

#credits {
    position: absolute;
    width: 100%;
    margin: auto;
    bottom: 0;
    margin-bottom: 20px;
    font-family: 'Barriecito', cursive;
    color: #544027;
    font-size: 12px;
    letter-spacing: 0.5px;
    /* text-transform: uppercase; */
    text-align: center;
    user-select: none;
}

#credits a {
    color: #544027;
}

#credits a:hover {
    color: #dc5f45;
}

#instructions {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Barriecito', cursive;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    user-select: none;
}

.lightInstructions {
    color: red;
}

.garlic {
    color: #f2e9d2;
}

#Progress_Status {
    width: 100%;
    background-color: none;
    border-radius: 20px;
    border: solid 1px black;
}

#myprogressBar {
    width: 25%;
    height: 20px;
    border-radius: 20px;
    background-color: red;
    text-align: center;
    line-height: 32px;
    /* color: black; */
}

#levels {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blood {
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0%);
    user-select: none;
}